%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to current_user.email, user_root_path, class: "navbar-brand" if user_signed_in?
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        -# %li
        -#   %a{:href => "#"} Dashboard
        -# %li
        -#   %a{:href => "#"} Settings
        -# %li
        -#   %a{:href => "#"} Profile
        %li
          = link_to "Salir",  destroy_user_session_path, method: :delete
      -# %form.navbar-form.navbar-right
      -#   %input.form-control{:placeholder => "Search...", :type => "text"}/
