%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} SENA
    #navbar.navbar-collapse.collapse
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-inline navbar-form navbar-right' }) do |f|
        = f.input :email, label: false
        = f.input :password, label: false
        = f.button :submit, "Entrar", class: "btn btn-success"

.jumbotron
  .container
    %h1 Economato
    %p Software para el manejo de contrato economato
    %p
      %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Leer mas »
.container
  / Example row of columns
  .row
    .col-md-4
      %h2 Control contrato
      %p Permite hacer seguimiento y control de los motos ejecutados de contratos en el economato SENA
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View detalles »
    .col-md-4
      %h2 Consoldidar pedidos
      %p Registra y consolida pedidos de insumos con el proveedor del economato SENA
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View detalles»
    .col-md-4
      %h2 Entrega de insumos
      %p Controla la entrega de insumos y gastos de los instructores y fichas
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View details »
  %hr/
  %footer
    %p © 2017 SENA.
